# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Virtual env
.venv/
venv/
env/

# Model weights (исключение: веса в inference коммитим)
**/weights/
*.pt
!**/inference/weights/
!**/inference/weights/*.pt

# VS Code
.vscode/
